.is-hidden#hostControls
    .columns
        .column
            .columns
                .column
                    label.label(for='topicInp') Stream Source
                    .field.has-addons
                        .control.is-expanded
                            input.input#topicInp(type='text' name='topicInp' placeholder='Stream Source')
                        .control
                            a.button#topicBtn
                                | Confirm
        .column
            iframe(width="250", height="150", src="//www.youtube.com/embed/tgbNymZ7vqY")
        .column
            .field
                label.label(for='castSel') Select up to 3 Participants:&nbsp
                .control
                    .select.is-multiple.is-fullwidth
                        select#castSel(multiple name='castSel' )